{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <style>
      .content-spacing {
        margin-bottom: 100px;
      }
        body {
            font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;
            color: #006400;
            text-align: center; 
        }

        h1 {
            color: #159947; 
            font-size: 3em; 
            text-shadow: 2px 2px 0px #E2CFC9;
        }

        h2 {
            color: #3C8046; 
            font-size: 2em;
            text-shadow: 1px 1px 0px #BFD8C4; 
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'recipes:home' %}">
            <img src="{% static "recipes/images/logo.png" %}" alt="Bootstrap" width="120" height="70">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'recipes:home' %}" style="font-family: 'Comic Sans MS', sans-serif; font-size: 1.2rem; color: #006400;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'recipes:about' %}" style="font-family: 'Comic Sans MS', sans-serif; font-size: 1.2rem; color: #006400;">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <main class="content-spacing">
        {% block content %}
        <!-- This block will be filled with content from child templates -->
        {% endblock content %}
    </main>

    {% comment %} <footer class="text-center py-3">
        <!-- Footer content like contact info, social media links etc. -->
        <p>© 2023 Green Gourmet Guide</p>
    </footer> {% endcomment %}

    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"
  ></script>
    <!-- Add other global scripts here -->
</body>
</html>
